#service{
    padding-top: 8%;
    min-height:80vh;
    font-size: 1rem;
}

#service .title{
    color: rgb(0, 141, 197);
}

#service .liste-services{
    margin: 5% auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

#service .element{
    box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.164);
    padding: 1%;
    height: 350px;
    width: 250px;
    border-radius: 0.5rem;
    margin: 2% auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#service .liste-element{
    height: 220px;
    list-style: none;
    text-align: left;
}

#service .liste-element li{
    margin: 4% 0;
}

@media screen and (min-width: 700px)  {
    #service .liste-services{
        max-width: 670px;
        flex-direction: row;
        justify-content: space-between;
    }
    #service .element{
            height: 300px;
            width: 200px;
    }
}

@media screen and (min-width: 990px)  {
    #service{
        font-size: 1.3rem;
    }
    #service .liste-services{
        max-width: 900px;
    }
    #service .element{
        height: 350px;
        width: 250px;
    }
}

@media screen and (min-width: 1199px)  {
    #service .element{
        height: 400px;
        width: 300px;
    }
    #service .liste-services{
        max-width: 1024px;
    }
}