#portfolio{
    padding-top: 10%;
    min-height: 100vh;
    font-size: 1.5rem;
    width: 100%;
}

#portfolio .container{
    display: flex;
    flex-direction: column;
}

#portfolio .title h2{
    color: rgb(0, 141, 197);
}

#portfolio .Project-list{
    margin: 10% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width:100%;
}

#portfolio .projet{
    position: relative;
    box-shadow: 0px 2px 13px 4px rgba(128, 128, 128, 0.473);
    background-size: cover;
    margin: 2% auto;
    min-height:180px;
    min-width: 300px;
    border-radius: 0.5rem;
}

#portfolio .projet:hover .subInfo{
    display: flex;
    height: 40px;
    transition: 1s;
}

#portfolio .subInfo{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0;
    background-color: rgb(0, 0, 0);
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
}

#portfolio .subInfo p, #portfolio .subInfo a{
    text-decoration: none;
    color: white;
    padding: 0 2%;
    margin: 0;
}

@media screen and (min-width: 700px)  {
    #portfolio .container{
        width: 650px;
    }
}

@media screen and (min-width: 900px)  {
    #portfolio .container{
        width:1024px;
    }

    #portfolio .projet{
        height:180px;
        width: 300px;
    }
}


@media screen and (min-width: 1200px)  {
    #portfolio .projet{
        height:200px;
        width: 320px;
    }
}