#animation{
    min-height: 184px;
    min-width: 378px;
    font-size: 0.7em;
    height: 17rem;
    width: 30rem;
    margin: 3% 0 0 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#animation .screen div, .content{
    position: absolute;
    transition: all ease 500ms;
    transform-style: preserve-3d;
}

#animation .screen {
    position: relative;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#animation .background{
    height:100%;
    width: 100%;
    background-size: cover;
    border-radius: 20px;
    filter: blur(0.9);
    border: 1px solid rgba(65, 65, 65, 0.082);
}

#animation .secondbackground{
    height:100%;
    width: 100%;
    border-radius: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(110deg, rgb(29, 29, 29) 50%, rgba(0, 0, 0, 0.397) 30%);
}

#animation .title{
    color: white;
    width: 90%;
    height: 2%;
    min-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#animation:hover .title{
    color: black;
}

#animation .content{
    text-align: left;
    color: white;
    margin-top: 9%;
    padding: 0;
    width:90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

#animation .content div {
    width: 40%;
}

#animation .content button{
    color: white;
    background: none;
    border: 2px solid white;
    padding: 2% 8%;
    border-radius: 8px;
}

#animation .screen:hover .background{
    transform: perspective(1200px) rotateX(40deg) rotateY(10deg) rotateZ(-18deg)
    translateX(35px) translateY(0px) translateZ(80px);
}
#animation .screen:hover .secondbackground{
    transform: perspective(1200px) rotateX(40deg) rotateY(10deg) rotateZ(-18deg)
    translateX(35px) translateY(0px) translateZ(80px);
}

#animation .screen:hover .title{
    transform: perspective(1200px) rotateX(40deg) rotateY(10deg) rotateZ(-16deg)
    translateX(35px) translateY(0px) translateZ(110px);
}

#animation .screen:hover .content{
    transform: perspective(1200px) rotateX(40deg) rotateY(10deg) rotateZ(-16deg)
    translateX(35px) translateY(0px) translateZ(110px);
}

@media screen and (min-width: 500px) {
    #animation{
        margin: 3% auto;
    }
}



@media screen and (min-width: 700px) {
    #animation{
        margin-top: 5%;
        font-size: 0.9em;
        height: 22rem;
        width: 38rem;
    }
}