#about{
    padding-top: 8%;
    font-size: 1rem;
}

#about .container{
    margin: auto;
    width: 100%;
}
#about .layout-profile div{
    width:90%;
    margin: 5% auto;
    
}

#about h2{
    font-size: 2rem;
}

#about .picture img{
    width: 100%;
    margin: auto;
}

#about .layout-profile{
    max-width: 80%;
    display: flex;
    flex-direction: column-reverse;
    margin-right: 10%;
    margin-left: 5%;
    
}

#about .aboutMe{
    background-color: #06070e;
    padding: 20px 40px;
    border-radius: 6px;
}

#about .contactme{
    cursor: pointer;
    background: #467c9b;
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 12px #467c9b93;
    border-radius: 6px;
    padding: 5px 20px;
}

#about a{
    color: #467c9b;
    padding: 5px 20px;
}

@media screen and (min-width: 700px)  {
    #about .layout-profile{
        margin: auto;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    #about .layout-profile div{
        text-align: left;
        width:32%;
    }
}

@media screen and (min-width: 900px)  {
    
    #about .container{
        max-width: 850px;
    }
}

@media screen and (min-width: 1030px)  {
    #about{
        font-size: 1rem;
    }
    #about .container{
        max-width: 1024px;
    }
}

@media screen and (min-width: 1200px)  {
    #about .container{
        max-width: 1200px;
    }
}