.navigation{
    background: rgb(255,255,255);
    background: linear-gradient(184deg, rgba(255, 255, 255, 0.829) 0%, rgba(255,255,255,1) 100%);
    position: fixed;
    width: 100%;
    top: 0;
}
.container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width:400px
}

.menu li a{
    cursor: pointer;
    color: black;
    padding: 5px 15px;
    margin: 0 10px;
}

.menu a{
    text-decoration: none;
}

.active, .menu li:hover a{
    color: white!important;
    background-color: rgb(0, 132, 255);
    border-radius: 50px;
    transition: 0.5s;
}