.navigation{
    background: #000000;
    position: fixed;
    width: 100%;
    top: 0;
}
.navigation .container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.navigation .menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigation .menu li a .icon{
    display: none;
}

.navigation .menu a{
    text-decoration: none;
}


.menu li a{
    color: white!important;
    border: 2px solid rgba(0, 132, 255, 0);
    border-radius: 6px;
}

@media screen and (min-width: 0px) and (max-width:747px){
   .navigation .container .section-nav{
        background-color: rgb(18, 18, 18);
        box-shadow: 0px 0 20px 0 #467c9b;
        border-radius: 15px 15px 0 0;
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0;
        overflow: hidden;
        max-height: 60px;
    }

    .navigation .menu{
        margin: 0;
        padding:0;
    }

    .navigation .menu li .active div{
        border-top: 2px solid #467c9b;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation .menu li a div{
        border-top: 2px solid #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 11px;
    }

    .navigation .active .text{
        display: contents;
    }

    .navigation .menu li{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60px;
        width: 60px;
    }

    .navigation .menu li a, .navigation .menu li a div{
        margin: 0;
        padding: 0;
        border: 0px;
        height: 50px;
        width: 100%;
    }

    
    .navigation .menu li a .icon{
        display: block;
        margin: auto;
    }
}

@media screen and (min-width: 748px) and (max-width:900px){
    .navigation .container{
        width: 95%;
    }
}

.navigation .languages select{
    background: none;
    outline: none;
    color: white;
    font-weight: 400;
    text-decoration: none;

}

.navigation .languages option{
    background-color: black;
    color: white;
    border:none;
    outline: none;
}

@media screen and (min-width: 748px){
   .navigation .menu{
        min-width:400px
    }

    .navigation .menu li a .text{
        cursor: pointer;
        color: white;
        padding: 5px 15px;
        margin: 0 10px;
    }
 
    .navigation .active .text{
        background-color: #467c9b;
        color: black!important;
        box-shadow: 0px 0px 12px #467c9bd9;
        border-radius: 6px;
        transition: 0.5s;
    }

    .menu li:hover a .text{
        color: #467c9b!important;
        border: 2px solid #467c9b;
        background: none;
        box-shadow: 0px 0px 12px #467c9b93;
        border-radius: 6px;
        transition: 0.5ms;
    }
}