#home{
    background-repeat: no-repeat;
    background-position: right 0px bottom 0px;
    background-size: 100% auto;
    max-width: 100%;
    min-height: 100vh;
    width:100%;
}

#home .container{
    padding-top: 14%;
    width: 90%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#home .section-presentation{
    padding: 0 5%;
}
#home .title h1{
    font-size: 2em;
}

#home .today-title{
    color: rgb(0, 141, 197);
}

#home .title, #home .subtitle{
    text-align: left;
    font-size: 1.2em;
}

#home .subtitle p{
    color: gray;
}

#home .subtitle div{
    margin: 40px 0;
}

#home .social-media-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

#home .social-media-menu li{
    margin-right:10px;
}

#home .buttonContact{
    text-decoration:none;
    font-weight: bold;
    color: rgb(0, 141, 197);
    border: 2px solid rgb(0, 141, 197);
    padding: 5px 30px;
    border-radius: 50px;
}

#home .section-3D{
    box-sizing: inherit;
}
@media screen and (min-width:700px) {
    #home .container{
        width: 100%;
    }

    #home .section-presentation{
        margin:0 auto;
    }

    #home .section-3D{
        display: block;
        width: 100%;
        margin-top: 5%;    }
 }

 @media screen and (min-width:600px) {
    #home .title h1{
        font-size: 3em;
    }
}

 @media screen and (min-width:1120px) {
    #home .container{
        flex-direction: row;
    }

    #home .section-presentation{
        padding: 0 2%;
    }
    #home .section-3D{
        width: 40%;
    }
 }

 @media screen and (min-width: 1200px)  {
    #home .container{
        width: 1200px;
    }
    #home .section-3D, #home .section-presentation{
        display: block;
        width: 50%;
    }
}